body {
  font-family: Arial, sans-serif;
}

.App {
  margin-top: 60px;
  margin-left: 60px;
}

.Token {
  padding: 0px 5px;
}

.Arrow svg {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
}
